h1 {
	text-align: center;
}

.text-center {
	display: block;
	margin: 0 auto;
}

textarea {
	width: 80%;
	height: 150px;
	text-align: center;
}

.stack button,
.stack select,
.stack input {
	display: block;
	margin: 20px auto;
}
